*, *::after, *::before {
    box-sizing: border-box;
}

body{
    background: url("./assets/bg-main-mobile.png") no-repeat; 
    background-position-y: -15rem;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    line-height: 1.5;
}

.bg-primary-color{
    background-color: #FA7453;
}

.btn-bg-dark{
    background-color: #191826;
    color: #FCFAF9;
}

.btn-bg-white{
    background-color: #FCFAF9;
    color: #191826;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.container * {
    margin: 0;
}

.main-title{
    font-size: 2.5rem;
}

