*, *::after, *::before {
    box-sizing: border-box;
}

body{
    background: url("./assets/bg-main-mobile.png") no-repeat; 
    background-position-y: -15rem;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    line-height: 1.5;
}

.bg-primary-dark{
    background-color: #191826;
}

.bg-primary-coral{
    background-color: #FA7453;
}

.btn-bg-dark{
    background-color: #191826;
    color: #FCFAF9;
}

.btn-bg-white{
    background-color: #FCFAF9;
    color: #191826;
}

.content{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.top-section{
    padding: 1.5rem;
    margin-bottom: 5rem;
}

.main-section{
    background-image: url("./assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: top center;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.container * {
    margin: 0;
}

.main-title{
    font-size: 2.5rem;
}

.main-image-app{
    max-width: 15rem;
    object-fit: cover;
    position: relative;
    bottom: 7rem;
    left: 4rem;
}

